html{height:100%;}
article{font-family:Arial;}

.block-content{width:80%; margin:auto;}
.header{text-transform:uppercase; color:#ccc; padding-bottom:30px; font-weight:normal; width:100%; float:left;}
.content-country{width:100%; float:left;}
.header strong{color:#993333; margin-right:25px; font-weight:bold !important;}
.ccm-layout-col-spacing h2{text-transform:uppercase; font-size:14px; padding-bottom:15px; color:#822443; margin-top:0; font-weight:bold;}
.ccm-layout-col-spacing table td:nth-child(3n+1){float:left; color:#822443; padding-right:10px; font-weight:bold;}
.ccm-layout-col-spacing table{width:100%;}
.ccm-layout-col-spacing table td{padding-bottom:10px;}

/* two col content*/
.two-col-content{width:100%;display:flex;align-items:center;}
.two-col-content>div{width:50%;}
.two-col-content .text{padding:60px;}
.two-col-content .text h4{font-weight:bold; font-family:'Arial'; margin-top:0px; margin-bottom:15px;}
.two-col-content .text h2{margin-bottom:15px!important;}
.two-col-content .text td strong{color:#822443;font-weight:bold!important;}
.two-col-content .text tr td{vertical-align:top;font-family:'Arial';}
.two-col-content .text tr td:nth-of-type(1){width:20%;}
.two-col-content .text tr td:nth-of-type(2){padding-left:15px;}
.two-col-content .img img{width:100%;height:auto;}
.two-col-content ul{padding:0px; padding-left:15px;}
/* -------------- */

/* image link content */
.no-edit .img-link-block{overflow:hidden;}
.no-edit .img-link-block img{visibility:hidden;display:none;}
.no-edit .img-link-block .block{background-size:cover;position:relative;height:350px;}
.no-edit .img-link-block .block .text{background-color:rgba(130, 36, 66, 0.77); padding:30px; color:#fff; text-transform:uppercase; font-size:16px; font-weight:normal; letter-spacing:1px; position:absolute; bottom:-30%; width:100%; transition:bottom .3s; visibility:hidden;}
.no-edit .img-link-block .block:hover .text{opacity:1;bottom:0;visibility:visible;}
/* -------------- */

.country-menu ul{list-style:none;margin:0;padding:0;}
.country-menu li{display:inline-block;padding-right:50px;position:relative;}
.country-menu .exclude-sub ul{display:none!important;}
.country-menu li a{position:relative;text-transform:uppercase;color:#999999;font-size:12px;cursor:pointer;text-decoration:none;transition: unset;}
.country-menu li a:hover, .country-menu li.active a{color:#822443;}
.country-menu li a:before{content:''; width:0px; height:3px; display:block; background-color:#822443; position:absolute; top:-10px; left:0; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.country-menu li a:hover:before,.country-menu li.active a:before{width:25px;}

/* .content-country .desc{float:left; display:block; width:100%; margin-top:30px;} */
.content-country .desc {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}
.content-country-country .desc .topic, .content-country .desc .detail{width:100%;float:left;}
.content-country .desc .each{margin-bottom:20px;}
.content-country .desc p strong{font-weight:bold!important;}
.content-country .desc h1{color:#822443; font-family:'Arial'; font-weight:bold; text-transform:uppercase; letter-spacing:10px; font-size:60px;}
.content-country .desc h2{color:#822443; font-family:'Arial'; font-weight:bold; text-transform:uppercase; margin:0px;}
.content-country .desc .map-block img{width:100%;height:auto;max-width:380px;}
.content-country .desc .left-block{width:50%; float:left;padding-bottom: 4px;}
.content-country .desc .left-block>div{padding:2px;}
.content-country .desc .left-block .link-block{
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
}
/* .content-country .desc .right-block{width:50%; float:left;} */
.content-country .desc .right-block {
    width: 50%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
    flex-wrap: wrap;
}
/* .content-country .desc .right-block>div{float:left; width:50%; padding:2px;} */
.content-country .desc .right-block>div {
    padding: 0 2px 4px 2px;
    /*
flex-basis: 50%;
    width: 50%;
*/
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
_:-ms-fullscreen, :root .IE-FlexAuto {
  	flex-basis: auto;
  	.content-country .desc .right-block>div {
	    flex-basis: 50%;
	}
}
.content-country .desc .right-block>div:nth-of-type(odd){/* clear:left; */}
.link-block{display:block; position:relative; width:100%; /* height:100%; */}
.hav-link.link-block{cursor:pointer;}
.hav-link.link-block a{cursor:pointer;display:block;}
.hav-link.link-block a{
	height: 100%;
}
.hav-link.link-block:before{content:''; background-color:rgba(130,36,67,.8); position:absolute; display:block; width:calc( 100% - 4px ); height:calc( 100% - 4px ); opacity:0; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.hav-link.link-block:hover:before{opacity:1;}
/* .img-block{background-size:cover; background-repeat:no-repeat; background-position:center 20%;} */
.img-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
    padding-top: 100%;
    height: 100% !important;
    /* border: 1px solid; */
}
.img-block img{visibility:hidden; display:none;}
.img-block .text-block{color:#fff; width:100%; float:left; padding:5px 20px; text-transform:uppercase; position:absolute; bottom:0px; display:flex; justify-content:space-between;}
.img-block .text-block p{font-size:14px;}
.link-block .more-block{position:absolute; top:50%; left:0; right:0; margin:auto; width:100%; text-align:left; -webkit-transform:translateY(-20px); -moz-transition:translateY(-20px); transform:translateY(-20px); -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; opacity:0; visibility:hidden; height:100%;}
.link-block .more-block div{width:100%; float:left; display:flex; justify-content:center; top:42%; position:absolute;}
.hav-link.link-block:hover .more-block{-webkit-transform:translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); opacity:1; visibility:visible;}
.link-block span{color:#FFF; display:block; font-size:13px; line-height:16px; float:left; display:flex; flex-direction:inherit; flex-flow:column; align-items:left;}
.link-block span.title{font-weight:normal; margin:0; font-size:14px; line-height:normal;display: none;}
.link-block span.title p{margin-top:10px; margin-bottom:0px; text-transform:uppercase;}
.bg-home{width:100%; position:absolute; bottom:0; left:0; height:50%; background-color:#e6e6e6; z-index:-1;}
.country-desc{margin-top:60px; margin-bottom:60px; display:flex; justify-content:space-between; width:100%; align-items:center; float:left;}
.country-desc .country-left{width:35%;}
.country-desc .country-right{width:65%;padding-left:40px;border-left:1px solid #999;}
.country-desc h4{text-decoration:underline; color:#404041; letter-spacing:1px; line-height:1.5; font-size:20px;}
.country-desc p{color:#404041; font-size:15px; margin-bottom:0px;}
#main_csr .gallery li{text-align:center;}
#main_csr .content-country .desc img{display:inline-block; max-height:500px; height:auto; width:auto; max-width:100%;}

@media(max-width:1600px){
.content-country .desc h2{font-size:26px;}
.content-country .desc h1{font-size:50px; margin-top:15px;}
.two-col-content .text{padding:30px;}
.no-edit .img-link-block .block{height:300px;}
}
@media(max-width:1500px){
.country-desc .country-left{width:40%;}
.country-desc h4{font-size:18px;}
.country-desc p{font-size:14px;}
}
@media(max-width:1300px){
.no-edit .img-link-block .block{height:280px;}
.no-edit .img-link-block .block .text{font-size:14px;padding:25px;}
.country-desc h4{font-size:16px;}
.country-desc p{font-size:13px;}
.block-content{width:85%;}
.country-desc{margin:40px 0;}
.content-country .desc h2{font-size:24px;}
.content-country .desc h1{font-size:46px; margin-top:10px;}
}
@media(max-width:1100px){
.content-country .desc h1{font-size:42px;}
body{font-size:13px;}
.content-country .desc h2{font-size:22px;}
.ccm-layout-col-spacing{margin:0px 20px !important;}
.ccm-layout-col-spacing table{width:100% !important;}
.block-content{width:90%;}
.header{padding-bottom:50px;}
.country-menu li{padding-right:30px;}
.img-block .text-block p{font-size:12px;}
.country-desc h4{font-size:14px;}
.country-desc p{font-size:12px;}
.link-block span.title{font-size:12px;}
.no-edit .img-link-block .block{height:220px;}
.no-edit .img-link-block .block .text{font-size:12px; padding:20px;}
.two-col-content .text tr td:nth-of-type(1){width:25%;}
}
@media(max-width:800px){
.two-col-content>div{width:100%;}
.two-col-content{display:block;}
.two-col-content .text{padding:20px 0px;}
.two-col-content .text br{display:none;}
.two-col-content ul{padding-bottom:20px;}
.two-col-content .text tr td:nth-of-type(1){width:20%;}
.no-edit .img-link-block .block .text{font-size:11px; padding:15px;}
.content-country .desc h1{font-size:38px;}
.content-country .desc h2{font-size:20px;}
.header{padding-top:20px;}
[class^="ccm-layout-"]{	width:100% !important;}
.ccm-layout-col-spacing h2{	padding-top:40px;}
.ccm-layout-col-spacing{margin:0 !important;}
.header strong{	margin-right:0px;}
.link-block span.title{font-size:11px;}
.country-desc{margin:30px 0;}
.country-desc,
.country-desc .country-left,
.country-desc .country-right{width:100%;display:block;border:none;padding:0px;}
.img-block .text-block p{font-size:11px;}
}

@media(max-width:768px){
	.content-country .desc .left-block,.content-country .desc .right-block{width: 100%;}
	.country-menu{
	    float: left;
		width: 100%;
		margin-bottom: 50px;
	}
}

@media(max-width:600px){
.country-menu li{padding-right:0px; width:50%; float:left; margin-bottom:8px;}
.country-menu li a:before{top:-5px;}
}
