.content .desc{margin-top:60px; margin-bottom:60px;}
.content .desc .topic{margin-bottom:30px;}
.mblock-title{margin-top:50px; float:left;}
.mblock{width:100%; float:left; display:flex; justify-content:space-between;}
.no-edit .mblock .img-link-block{width:32.5%;}
.facility{width:100%; float:left; margin-top:100px;}
.facility .gallery{width:100%; display:flex; flex-flow:row wrap; justify-content:space-between;}
.facility .gallery li{width:32.5%; margin-bottom:15px; background-size:cover; background-position:center;}
.gallery.loaded img{display:none;}

@media(max-width:1300px){
.facility{margin-top:80px;}
}
@media(max-width:1100px){
.content .desc .left-block{width:100%;}
.mblock{margin-top:30px;}
.facility{margin-top:50px;}
}
