@font-face {
  font-family: 'montserrat-bold';
  src: url('/themes/kos//themes/kos//fonts/montserrat-bold.eot');
  src: url('/themes/kos//themes/kos//fonts/montserrat-bold.eot') format("embedded-opentype"), url('/themes/kos//themes/kos//fonts/montserrat-bold.woff') format("woff"), url('/themes/kos//themes/kos//fonts/montserrat-bold.ttf') format("truetype"), url('/themes/kos//themes/kos//fonts/montserrat-bold.svg#montserrat-bold') format("svg");
  font-weight: normal;
  font-style: normal;
}
