html {
  min-height: 100%;
}

body {
  background: transparent;
  font-family: Arial;
  color: #404041;
  font-size: 14px;
}

a {
  outline: none;
  text-decoration: none;

  &:link, &:active, &:visited, &:focus {
    outline: none;
    text-decoration: none;
  }
}

#logo {
  display: block;

  img {}
}

.container {
  max-width: 1170px;
}

.container-page {
  float: left;
  width: 100%;
  padding: 0 10%;
}

::-moz-selection, ::selection {
  background-color: #822443;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

strong {
  font-weight: normal !important;
}

article {
  float: left;
  width: 100%;
}
